{
 :paths ["src" "test"]
 :deps
        {
         org.clojure/clojure      {:mvn/version "1.10.0"}
         aysylu/loom              {:mvn/version "1.0.1"}
         net.mikera/core.matrix   {:mvn/version "0.61.0"}
         uncomplicate/neanderthal {:mvn/version "0.20.4"
                                   :exclusions  [org.jcuda/jcuda-natives
                                                 org.jcuda/jcublas-natives]}
         }
  :jvm ["-dDYLD_LIBRARY_PATH=/opt/intel/compilers_and_libraries/mac/"]
 }